@tailwind base;
@tailwind components;
@tailwind utilities;


body{
    background-image: url(./assets/bg.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    width:100%

}

/* Hide scrollbar but allow scrolling */
.scrollbar-none::-webkit-scrollbar {
    display: none; /* Hide scrollbar for Chrome, Safari, Edge */
  }
.scrollbar-none {
    -ms-overflow-style: none; /* Hide scrollbar for IE and Edge */
    scrollbar-width: none; /* Hide scrollbar for Firefox */
}
